
    <a id="gallery" data-magellan-destination='gallery'>
    </a>
    <div class="fabric-rule">
    </div>

    <section id="gallery-page" class="row" >

        <h2 class="align-center">
              #stephyyjose
            </h2>

        <div class="page-wrapper" style="height: 500px; overflow-y: scroll;">
<!-- SnapWidget -->
<script src="http://snapwidget.com/js/snapwidget.js"></script>
<iframe src="http://snapwidget.com/in/?h=c3RlcGh5eWpvc2V8aW58MTI1fDV8MTJ8fHllc3w1fG5vbmV8b25TdGFydHx5ZXN8eWVz&ve=180315" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>

</div>
    </section>