<a id="gifts" data-magellan-destination='gifts'>
    </a>
    <div class="fabric-rule">
    </div>

<section id="gifts-page" class="row" >

	  	<div class="page-wrapper">

          <div class="page">

            <h2 class="align-center">
              Mesa de regalos
            </h2>
            <br />
            <img alt="divider" class="page-divider" src="/static/myEvent/images/separator.png" />
            <br />

            <ul id="gifts-list" class="row">

              <li>
                <img class="gifts-photo" alt="hotel" src="/static/myEvent/images/liverpool.png" />
                <div>
                  <h5>
                    Liverpool
                  </h5>
                  <h6>
                    Número de evento: 34047660
                  </h6>
                  <p>
                    <a target="_blank" href="http://www.liverpool.com.mx/tienda/giftregistry/giftRegistryDetail.jsp?eventDNo=34047660">Ver en línea ></a>
                  </p>
                </div>
              </li>
              <li>
                <img class="gifts-photo" alt="hotel" src="/static/myEvent/images/ph.png" />
                <div>
                  <h5>
                    Palacio de Hierro
                  </h5>
                  <h6>
                    Número de evento: 272719
                  </h6>
                  <p>
                    <a target="_blank" href="http://www.elpalaciodehierro.com/giftregistry/view/index/id/272719/ ">Ver en línea ></a>
                  </p>
                </div>
              </li>
              <li>
                <img class="gifts-photo" alt="hotel" src="/static/myEvent/images/sears.png" />
                <div>
                  <h5>
                    Sears
                  </h5>
                  <h6>
                    Número de evento: 23305268
                  </h6>
                  <p>
                    <a target="_blank" href="https://www.sears.com.mx/mesaregalos/productos/?id=23305268">Ver en línea ></a>
                  </p>
                </div>
              </li>


            </ul>

          </div>

	  	</div>

</section>