<div class="row navigation" data-magellan-expedition='fixed'>
    <ul class="nav-bar center">
        <li data-magellan-arrival='home'>
            <a href="#home" class="scroll">
                Inicio
            </a>
        </li>
        <li data-magellan-arrival='our-story'>
            <a href="#our-story" class="scroll">
                Nuestra historia
            </a>
        </li>
        <li data-magellan-arrival='wedding'>
            <a href="#wedding" class="scroll">
                Lugar
            </a>
        </li>
        <li data-magellan-arrival='visitors'>
            <a href="#visitors" class="scroll">
                Hoteles
            </a>
        </li>
        <li data-magellan-arrival='gallery'>
            <a href="#gallery" class="scroll">
                #stephyyjose
            </a>
        </li>
        <li data-magellan-arrival='rsvp'>
            <a href="#rsvp" class="scroll">
                Confirma tu asistencia
            </a>
        </li>
    </ul>
</div>