{% extends "base.html" %}

{% block mainContent %}



      <!-- Home Page -->
      <a id="home" data-magellan-destination='home'>
      </a>
      <section id="home-page" >
        <div id="main-title-container">
          <div id="main-title-text">
            <span class="names">Stephany</span>
            <span class="andperson">&nbsp;&&nbsp;</span>
            <span class="names">José Antonio</span>
            <div class="separator">
                TENEMOS EL HONOR DE INVITARTE A
            </div>
              <h2>
              Nuestra Boda
            </h2>
            <span>
              S&nbsp;&nbsp;Á&nbsp;&nbsp;B&nbsp;&nbsp;A&nbsp;&nbsp;D&nbsp;&nbsp;O
            </span>
            <h3>16</h3>
            <span>
              M&nbsp;&nbsp;A&nbsp;&nbsp;Y&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;0&nbsp;&nbsp;1&nbsp;&nbsp;5
            </span>
          </div>
        </div>

        {% include "header.html" %}

	  </section>


	<!-- Our Story -->
    <a id="our-story" data-magellan-destination='our-story'>
    </a>
    <section id="our-story-page" class="row" >
	  <div class="fabric-rule">
        </div>

		<div class="twelve columns page-wrapper">
          <div class="page">
            <h2 class="align-center">
              Nuestra Historia
            </h2>
            <br />
            <img alt="divider" class="page-divider" src="/static/myEvent/images/divider2.png" />
            <br />

            <div class="six columns">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              </p>
              <p>
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
              </p>
            </div>

            <div class="six columns">
              <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
              </p>
            </div>
          </div><!-- end page-->
		</div><!-- end page-wrapper -->


    </section>

    <div class="fabric-rule">
    </div>




    <!-- Wedding -->
    <a id="wedding" data-magellan-destination='wedding'>
    </a>
    <section id="wedding-page" class="row" >


        <div class="twelve columns wedding-wrapper">

          <div id="wedding-details">
              <h2>
            Lugar:
          </h2>
          <h1>
            Hacienda San Juan Pueblilla
          </h1>
              <h1>
            Zempoala, Hidalgo
          </h1>
          <h2>
            CEREMONIA RELOGIOSA <span class="hour">1</span> pm
          </h2>
              <h2>
            CEREMONIA CIVIL <span class="hour">2</span> pm
          </h2>
              <h2>
            BANQUETE <span class="hour">3</span> pm
          </h2>
          <h3>

          </h3>
          <a href="#" data-reveal-id="mapModal">
            <h3>
              Cómo llegar
            </h3>
          </a>

	  	</div>

        </div>

        <div id="mapModal" class="reveal-modal hidden">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.994941405449!2d-98.652506!3d19.924618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1baa6e0fb8ba1%3A0x27ced92115fc730e!2sHacienda+San+Juan+Pueblilla!5e0!3m2!1ses!2smx!4v1426723710034" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </div>

    </section>

    <!-- Visitors -->

   {% include "visitors.html" %}


   {% include "gallery.html" %}

{% include "gifts.html" %}

    {% include "rsvp.html" %}

    <!-- Footer -->

    <footer class="row">
      <div class="twelve columns">
        <hr />
        <div class="row">
          <div class="six columns">
            <p>
              &copy; Pixel Soda, 2015
            </p>
          </div>
          <div class="six columns">
            <ul class="link-list right">
              <li>
                <a href="#home" class="scroll">
                  Ir arriba
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </footer>

{% endblock %}