    <a id="rsvp" data-magellan-destination='rsvp'>
    </a>
    <div class="fabric-rule">
    </div>

    <section class="row" id="rsvp-page" >

	  	<div class="page-wrapper">

          <div class="page">
            <h2 class="align-center">
              RSVP
            </h2>
            <img alt="divider" class="page-divider" src="/static/myEvent/images/divider2.png" />
            <br />
            <p>
            	<em>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em>
            </p>

            <form action="#rsvp">
              <label>
                Name:
              </label>
              <input type="text" placeholder="Name" />
              <label>
                Phone:
              </label>
              <input type="text" class="twelve" placeholder="Contact Number" />
              <label>
                Message:
              </label>
              <textarea>
              </textarea>

              <div class="row">

                <div class="seven columns">
                  <label for="radio1">
                    <input name="radio1" type="radio" id="radio1" >
                    <span class="custom radio">
                    </span>
                    I / We will be attending
                  </label>
                  <label for="radio2">
                    <input name="radio1" type="radio" id="radio2" >
                    <span class="custom radio checked">
                    </span>
                    Unfortunately I / We are unable to attend
                  </label>

                </div>

					<div class="five columns">
					  <label for="checkbox1">
                        <input type="checkbox" id="checkbox1" checked>
                        <span class="custom checkbox">
                        </span>
                        No dietary requirements
                      </label>
					  <label for="checkbox2">
                        <input type="checkbox" id="checkbox2" >
                        <span class="custom checkbox checked">
                        </span>
                        Vegetarian
                      </label>
					  <label for="checkbox3">
                        <input type="checkbox" id="checkbox3">
                        Gluten Free
                      </label>
					</div>
				  </div>

				  <input id="submit-form" type="submit" value="Send">

              </form>



          </div>

	  	</div>

    </section>
