<a id="rsvp" data-magellan-destination='rsvp'>
</a>
<div class="fabric-rule">
</div>

<section class="row" id="rsvp-page">

    <div class="page-wrapper">

        <div class="page">
            <h2 class="align-center">
                Confirma tu asistencia
            </h2>
            <img alt="divider" class="page-divider" src="/static/myEvent/images/separator.png"/>
            <br/>

            <p>
                <em>!Muchas gracias por acompañarnos en este día tan importante para nosotros! Esperamos puedas
                    confirmar tu asistencia.</em>
            </p>

            <form id="register">
                {% csrf_token %}
                <label>
                    Nombre:
                </label>
                <input type="text" placeholder="Nombre" name="name" required/>
                <label>
                    Teléfono:
                </label>
                <input type="text" class="twelve" placeholder="Teléfono" name="phone" required/>
                <label>
                    Correo electrónico:
                </label>
                <input type="email" class="twelve" placeholder="Correo electrónico" name="email" required/>
                <label>
                    Mensaje:
                </label>
              <textarea name="message">
              </textarea>

                <div class="row">

                    <div class="seven columns">
                        <label for="radio2">
                            <input name="attend" type="radio" id="radio1" value="1" required>
                    <span class="custom radio">
                    </span>
                            ¡Claro que iré! :)
                        </label>
                        <label for="radio2">
                            <input name="attend" type="radio" id="radio2" value="0" >
                    <span class="custom radio checked">
                    </span>
                            Desafortunadamente no puedo ir :(
                        </label>

                    </div>
                </div>

                <input id="submit-form" type="submit" value="Enviar">

            </form>
<div class="message"></div>


        </div>

    </div>

</section>
