<a id="visitors" data-magellan-destination='visitors'>
</a>
<div class="fabric-rule">
</div>

<section id="visitors-page" class="row">

    <div class="page-wrapper">

        <div class="page">

            <h2 class="align-center">
                Hoteles
            </h2>
            <br/>
            <img alt="divider" class="page-divider" src="/static/myEvent/images/separator.png"/>
            <br/>

            <ul id="visitors-list" class="row">

                <li>
                    <img class="visitors-photo" alt="hotel" src="/static/myEvent/images/hotels/acueducto.jpg"/>

                    <div>
                        <h5>
                            Hotel Acueducto
                        </h5>
                        <h6>
                            Carr. Pachuca - Cd. Sahagún Km. 33, Zempoala Hgo.
                        </h6>

                        <p>
                            Es el hotel más cercano a la hacienda ubicado entre la carretera de Cd. Sahagún a
                            Zempoala.<br>
                            Tels: 045 771 100 96 78 y 045 771 699 13 12<br>
                            <a href="mailto:idelvalle@hotelacueducto.com.mx">idelvalle@hotelacueducto.com.mx</a>

                        </p>
                    </div>
                </li>
                <li>
                    <img class="visitors-photo" alt="hotel" src="/static/myEvent/images/hotels/refugio.jpg"/>

                    <div>
                        <h5>
                            Hotel El Refugio
                        </h5>
                        <h6>
                            Blvd. Everado Marquez Km. 3.47 Carr. Pachuca - Cd. Sahagún
                        </h6>

                        <p>
                            Está ubicado a la salida de Pachuca rumbo a Zempoala.<br>
                            Tel:771 71 639 98<br>
                            <a href="http://www.elrefugio.com.mx/home.html" target="_blank">www.elrefugio.com.mx</a>
                        </p>
                    </div>
                </li>
                <li>
                    <img class="visitors-photo" alt="hotel" src="/static/myEvent/images/hotels/holidayinn.jpg"/>

                    <div>
                        <h5>
                            Hotel Holiday Inn Pachuca
                        </h5>
                        <h6>
                            Blvd. Rojo Gómez 104 Col. Lomas Residencial Pachuca, Pachuca, Hgo.
                        </h6>

                        <p>
                            Cerca de la central de autobuses y próximo a la salida a la carretera rumbo a
                            Zempoala.<br>
                            Tels: 01800 000 04 04<br>
                            <a href="http://www.ihg.com/holidayinn/hotels/us/es/pachuca/hdgmx/hoteldetail"
                               target="_blank">www.ihg.com</a>
                        </p>
                    </div>
                </li>
                <li>
                    <img class="visitors-photo" alt="hotel" src="/static/myEvent/images/hotels/lajoya.jpg"/>

                    <div>
                        <h5>
                            Hotel La Joya
                        </h5>
                        <h6>
                            Blvd. Everardo Márquez No. 100 Col. Cuesco, C.P. 42080 Pachuca, Hgo.
                        </h6>

                        <p>
                            El mejor ubicado dentro de Pachuca, cerca del centro, parques y restaurantes.<br>
                            Tels: 01800 560 4000<br>
                            <a href="http://www.joyahoteles.com/v2/web/pachuca.php"
                               target="_blank">www.joyahoteles.com</a>
                        </p>
                    </div>
                </li>
                <li>
                    <img class="visitors-photo" alt="hotel" src="/static/myEvent/images/hotels/caminoreal.jpg"/>

                    <div>
                        <h5>
                            Hotel Camino Real Pachuca
                        </h5>
                        <h6>
                            Camino Real de la Plata Lot. 15 Manzana 3 Zona Plateada, Pachuca, Hgo.
                        </h6>

                        <p>
                            En la zona plateada de Pachuca, justo enfrente de un centro comercial y a unos pasos
                            del Salón de la Fama y Mundo Fútbol.
                            Tels: 771 717 8500<br>
                            <a href="http://www.caminoreal.com/destinos/pachuca"
                               target="_blank">www.caminoreal.com</a>
                        </p>
                    </div>
                </li>
                 <li>
                    <img class="visitors-photo" alt="hotel" src="/static/myEvent/images/hotels/fiestainn.jpg"/>

                    <div>
                        <h5>
                            Hotel Fiesta Inn Pachuca
                        </h5>
                        <h6>
                            Carr. México - Pachuca, km. 85.5 Col. Venta Prieta, Pachuca, Hgo.
                        </h6>

                        <p>
                           Ubicado sobre la carretera México-Pachuca, a un costado del club de golf.
                            Tels: 771 717 07 00 y 771 717 07 16 <br>
                            <a href="http://www.fiestainn.com/es/mx-pachuca/hotel-pachuca"
                               target="_blank">www.fiestainn.com</a>
                        </p>
                    </div>
                </li>



            </ul>

        </div>

    </div>

</section>