<a id="wedding" data-magellan-destination='wedding'>
    </a>
    <section id="wedding-page" class="row" >


        <div class="twelve columns wedding-wrapper">

          <div id="wedding-details">
              <h2>
            Lugar:
          </h2>
          <h1>
            Hacienda San Juan Pueblilla
          </h1>
              <h1>
            Zempoala, Hidalgo
          </h1>
          <h2>
            CEREMONIA RELOGIOSA <span class="hour">1</span> pm
          </h2>
              <h2>
            CEREMONIA CIVIL <span class="hour">2</span> pm
          </h2>
              <h2>
            BANQUETE <span class="hour">3</span> pm
          </h2>
          <h3>

          </h3>

            <h3>
              <a id="mapModal" href="https://www.google.com.mx/maps/dir/''/hacienda+san+juan+pueblilla+zempoala/@19.9352658,-98.6241825,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x85d1baa6e0fb8ba1:0x27ced92115fc730e!2m2!1d-98.652506!2d19.924618" target="_blank"> Cómo llegar > </a>
            </h3>


	  	</div>

        </div>


    </section>